.popular {
  width: 100%;
  padding: 20px;
  background-color: #00453F;
  border-radius: 40px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.popular::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: radial-gradient(131.12% 107.86% at 50% 33.75%, #7BE8D5 3.95%, #00544C 59.04%, #b9fffe 85.27%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1030;
  opacity: 0.8;
}



.top {
  position: relative;
  z-index: 1035;
  display: flex;
  align-items: center;
}

.tag {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #3DBDA7;
  border-radius: 72px;
}

.tag h3 {
  color: #393939;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}

.link {
  margin-left: 9px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.link a {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #1D1E22;
}

.center {
  position: relative;
  z-index: 1031;
  max-width: 285px;
  margin-top: 32px;
}

.center h2 {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.center p {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.bottom {
  position: relative;
  z-index: 1032;
  display: inline-flex;
  align-items: flex-start;
  margin-top: 63px;
}

.like__users {
  display: flex;
  align-items: center;
}

.like__user {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #3DBDA7;
  position: relative;
}

.list_two {
  z-index: 1;
}

.list_two {
  z-index: 2;
  left: -20px;
}

.list_tree {
  z-index: 2;
  left: -40px;
}

.like {
  position: relative;
  left: -30px;
  display: inline-flex;
  align-items: center;
  border-radius: 44px;
  background: #FFF;
  padding: 8px 16px;
}

.like h3 {
  color: #00453F;
  text-align: justify;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}


.img {
  z-index: 1030;
  transform: scale(1.05);
  width: 609px;
  position: absolute;
  right: -70px;
  top: 0;

}